<h1>Robo World Domination Admin Options</h1>
<p>"All is fair in love and war"</p>
<ul>
  <li><%= link_to "Create New Admin", new_admin_user_path %></li>
  <li><%= link_to "See All Users", admin_users_path %></li>
  <li><%= link_to "See All Platoons", admin_platoons_path %></li>
  <li><%= link_to "See All Robots", admin_robots_path %></li>
  <li><%= link_to "See All Unit Types", admin_divisions_path %></li>
</ul>
